// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
/*
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/
/*Green and red color on users - AdminPanel*/
.green-dot{
    .fa-circle{
        color: green;
    }
}
.red-dot{
    .fa-circle{
        color: red;
    }
}
/*Input type file of forms*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .fileBtn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .imgDimension{
      width: 200px;
      padding: 20px;
  }
  .imgAlignment{
      vertical-align: middle;
      text-align: center;
      padding: 10px;
  }
  .textAlignment{
      text-align: center;
  }
  .indexImgDimension{
      width: 120px;
  }

/*Admin panel operations padding*/
a.icon-pad{
    padding: 5px;
    text-decoration: none;
    color: inherit;
}
a.icon-pad:hover,a.icon-pad:focus{
    color: grey;
    transition: all 0.5s ease;
}
/*Headertag for the page*/
.headingTag{
    display: inline-block;
}
.addButtonAdminPanel{
    margin-bottom: 10px;
}
/*No data to display(posts) message*/
.perfectlyCenteredMessage {
   position: relative;
   height: 10em;
}
.perfectlyCenteredMessage p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.NoDataMessage{
    margin-top: 20px;
}
/*Media Upload admin panel dropzone*/
.dropzone{
    border-radius: 10px;
    border: 2px dashed grey!important;
}
/*Single blog display css*/
/*Author photo on the blog show page - single blog*/
.post-author-photo{
    width: 80px;
}
/*Margin between blog title and author details*/
.blog-margin{
    margin-top: 20px;
}
/*For post authorname and post created date*/
.grid-row{
    display: grid;
}
.blogimage-margin{
    margin : 10px 0px 20px 0px;
}
.blog-content p{
    font-size: 1.2em;
}
.tag{
    background-color: beige; /* Set the background color */
    border-radius: 3px;     /* Add some roundness */
    border: 1px #CCF solid; /* Add a border */
    padding: 2px 5px;
    display: inline;
}
.tag:hover{
    background-color: bisque;
}
/*Comment section*/
.responses{
    background-color: rgb(240, 240, 240);
}
/*Single blog display css ends*/
