// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
/*
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/
/*Green and red color on users - AdminPanel*/
.green-dot{
    .fa-circle{
        color: green;
    }
}
.red-dot{
    .fa-circle{
        color: red;
    }
}
/*Input type file of forms*/
.upload-btn-wrapper {
    position: relative;
    //overflow: auto;
    display: inline-block;
  }
  
  .fileBtn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .imgDimension{
      width: 200px;
      padding: 20px;
  }
  .imgAlignment{
      vertical-align: middle;
      text-align: center;
      padding: 10px;
  }
  .textAlignment{
      text-align: center;
  }
  .indexImgDimension{
      width: 120px;
  }

/*Admin panel operations padding*/
a.icon-pad{
    padding: 5px;
    text-decoration: none;
    color: inherit;
}
a.icon-pad:hover,a.icon-pad:focus{
    color: grey;
    transition: all 0.5s ease;
}
/*Headertag for the page*/
.headingTag{
    display: inline-block;
}
.createUsersButton{
    margin-bottom: 10px;
}
